<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body { margin: 0; }
    </style>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../src/styles.css" />
    <script defer src="../static/bundle.js"></script>
    <title>Boids</title>
  </head>
  <body x-data="scene">
    <div id="screen" class="fixed w-screen h-screen flex flex-col items-center justify-center pointer-events-none">
      <!-- HEADER -->
      <header id="superior" class="w-full h-[64px] drop-shadow-[0_1px_2px_rgba(1,1,1,.1)] bg-gray-100 py-[8px] px-[16px] pointer-events-auto z-50 outline outline-[1px] outline-black/10">
        <div class="w-full h-full flex items-center justify-between"></div>
      </header>
      <!-- END HEADER -->
      
      <div id="middle" class="relative w-full grow flex items-center justify-start py-[8px] px-[16px] pointer-events-none z-30">
        <canvas id="canvas" class="absolute inset-0 w-full h-full z-0 pointer-events-auto"></canvas>
    
        <!-- LEFT MENU -->
        <div id="middle-left" class="h-full pointer-events-auto">
            <div x-data="{open: true}" class="h-full flex justify-start drop-shadow-[2px_0_4px_rgba(1,1,1,.1)] outline outline-[1px] outline-black/10">
                <div class="w-[48px] h-full bg-gray-200 flex flex-col items-center justify-start"
                     x-data="{ content: '' }"
                     x-init="fetch('./components/left_buttons.html').then(res => res.text()).then(html => content = html)"
                     x-html="content">
                </div>
                <div id="left-menu" x-show="open" class="w-[256px] h-full bg-gray-100 p-[16px]"></div>
            </div>
        </div>
        <!-- END LEFT MENU -->
    
        <div id="middle-center" class="h-full grow flex flex-col items-center justify-between pointer-events-none">
            <!-- SUPERIOR MENU -->
            <div id="middle-center-superior" class="max-w-[calc(100%-256px)] h-[36px] drop-shadow-[0_-2px_4px_rgba(1,1,1,.1)] bg-gray-100 flex items-center justify-center outline outline-[1px] outline-black/10 pointer-events-auto overflow-x-auto no-scrollbar"
                 x-data="{ content: '' }"
                 x-init="fetch('./components/visualization.html').then(res => res.text()).then(html => content = html)"
                 x-html="content">
            </div>
            <!-- END SUPERIOR MENU -->

            <div id="middle-center-middle" class="w-full grow"></div>

            <!-- INFERIOR MENU -->
            <div id="middle-center-inferior" class="max-w-[calc(100%-256px)] h-[36px] drop-shadow-[0_2px_4px_rgba(1,1,1,.1)] bg-gray-100 flex items-center justify-center outline outline-[1px] outline-black/10 pointer-events-auto overflow-x-auto no-scrollbar"
                 x-data="{ content: '' }"
                 x-init="fetch('./components/time_control.html').then(res => res.text()).then(html => content = html)"
                 x-html="content">
            </div>
            <!-- END INFERIOR MENU -->
        </div>
    
        <!-- RIGHT MENU -->
        <div id="middle-right" class="h-full pointer-events-auto">
            <div x-data="{open: true}" class="h-full flex justify-end drop-shadow-[-2px_0_4px_rgba(1,1,1,.1)] outline outline-[1px] outline-black/10">
                <div id="right-menu" x-show="open" class="w-[256px] h-full bg-gray-100 p-[16px]"></div>
                <div class="w-[48px] h-full bg-gray-200 flex flex-col items-center justify-start"
                     x-data="{ content: '' }"
                     x-init="fetch('./components/right_buttons.html').then(res => res.text()).then(html => content = html)"
                     x-html="content">
                </div>
            </div>
        </div>
        <!-- END RIGHT MENU -->
      </div>

      <!-- FOOTER -->
      <footer id="inferior" class="w-full h-[32px] drop-shadow-[0_-1px_2px_rgba(1,1,1,.1)] bg-gray-100 p-[8px] pointer-events-auto z-50 outline outline-[1px] outline-black/10">
        <div class="w-full h-full flex items-center justify-between"
             x-data="{ content: '' }"
             x-init="fetch('./components/footer.html').then(res => res.text()).then(html => content = html)"
             x-html="content">
        </div>
      </footer>
      <!-- END FOOTER -->
    </div>
  </body>
</html>