<div class="w-full bg-secondary/80 flex flex-col items-center justify-center p-[4px]"> <!--inferior carrousel-->
    <div x-data="{
        modelX: {{ simulation.sizeX }},
        modelY: {{ simulation.sizeY }},
        modelZ: {{ simulation.sizeZ }},
        partitionsX: {{ simulation.partitionsX }},
        partitionsY: {{ simulation.partitionsY }},
        partitionsZ: {{ simulation.partitionsZ }},}"
        class="w-full h-full flex items-center justify-around pointer-events-auto">
      <div x-data="{min: 0, max: 100, step: 1, model: modelX, label: 'Size X'}">
        {% include "common/slider.html" %}
      </div>

      <div x-data="{min: 0, max: 100, step: 1, model: modelY, label: 'Size Y'}">
        {% include "common/slider.html" %}
      </div>
  
      <div x-data="{min: 0, max: 100, step: 1, model: modelZ, label: 'Size Z'}">
        {% include "common/slider.html" %}
      </div>

      <button @click="$store.DomainStore.Apply()" 
        :hx-post="`/common/domain/${$store.CurrentSimulation.id}`"
        :hx-vals="JSON.stringify({
            sizeX: modelX, 
            sizeY: modelY, 
            sizeZ: modelZ, 
            partitionsX: partitionsX, 
            partitionsY: partitionsY, 
            partitionsZ: partitionsZ,
        })"
        hx-trigger="click"
        hx-swap="none"
        class="w-[128px] h-[32px] button-menu">
        APPLY
        </button>
  
      <div x-data="{min: 0, max: 10, step: 1, model: partitionsX, label: 'Partition X'}">
        {% include "common/slider.html" %}
      </div>

      <div x-data="{min: 0, max: 10, step: 1, model: partitionsY, label: 'Partition Y'}">
        {% include "common/slider.html" %}
      </div>
  
      <div x-data="{min: 0, max: 10, step: 1, model: partitionsZ, label: 'Partition Z'}">
        {% include "common/slider.html" %}
      </div>
    </div>
  </div>