<div class="w-full max-h-[256px] bg-primary p-[8px] pointer-events-auto">
    <div class="w-full h-full bg-primary_highlight overflow-y-scroll">
        <div>SIMULATION</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
        <div>simulation</div>
    </div>
</div>