<div x-data="{open : false}" class="w-full max-h-[256px] bg-primary flex flex-col pointer-events-auto">
    <button 
        x-show="open"
        id="new-simulation-button"
        class="w-full mb-2 py-2 px-4 hover:bg-primary_highlight hover:drop-shadow-custom-shadow-2"
        hx-post="/common/simulations.html"
        hx-trigger="click"
        hx-swap="none"
        hx-on="htmx:afterRequest: document.getElementById('simulations-list').dispatchEvent(new Event('revealed'));">
        NEW SIMULATION
    </button>
    <div 
        x-show="open"
        id="simulations-list"
        class="w-full h-full overflow-y-scroll p-[8px]"
        hx-get="/common/simulations.html"
        hx-trigger="revealed"
        hx-swap="innerHTML">
    </div>
    <button class="w-full mt-2 py-2 px-4 hover:bg-primary_highlight hover:drop-shadow-custom-shadow-2" @click="open = !open">SIMULATIONS</button>
</div>