<div class="slider m-[4px]" x-data="{ value: model }">
    <div class="w-[100%] text-[14px] lowercase" x-text="label"></div>
    <div class="w-[100%] h-[20px]">
        <input 
            type="range" 
            :min="min" 
            :max="max" 
            :step="step" 
            x-model="value" 
            class="w-full">
    </div>
    <div class="w-[100%] flex items-center justify-between text-[14px] lowercase">
        <div x-text="min"></div>
        <div x-text="value"></div>
        <div x-text="max"></div>
    </div>
</div>