<div class="slider m-[2px]" x-data="{ value: model }">
    <div class="w-[100%] text-[14px] font-normal lowercase" x-text="label"></div>
    <div class="w-[100%] h-[16px] text-[12px] font-normal lowercase flex items-center justify-between space-x-[4px]">
        <div x-text="min"></div>
        <input 
            type="range" 
            :min="min" 
            :max="max" 
            :step="step" 
            x-model="value" 
            class="w-full">
        <div x-text="max"></div>
    </div>
</div>