<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body { margin: 0; }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css" />
    <script defer src="../../dist/bundle.js"></script>
    <title>Boids</title>
  </head>
  <body x-data="{darkMode: localStorage.getItem('theme') === 'custom_light' }">
    <div class="fixed w-full h-screen flex flex-col items-center justify-end drop-shadow-custom-shadow-1 z-10 pointer-events-none"> <!--screen-->
      <div x-data="options" class="w-full flex flex-col items-center justify-end p-[8px]">
        <div x-show="open" class="w-full h-[48px] bg-secondary/75 flex items-center justify-center p-[8px]"> <!--inferior carrousel-->
          <div class="w-full h-full flex items-center justify-around pointer-events-auto">
            <button @click="apply()" class="w-[128px] button-menu">APPLY</button>
    
            <div class="button-options">
                <div>Size X</div>
                <input 
                    type="range" 
                    min="0" 
                    max="100" 
                    step="10" 
                    x-model="sizeX">
            </div>
        
            <div class="button-options">
                <div>Size Y</div>
                <input 
                    type="range" 
                    min="0" 
                    max="100" 
                    step="10" 
                    x-model="sizeY">
            </div>
        
            <div class="button-options">
                <div>Size Z</div>
                <input 
                    type="range" 
                    min="0" 
                    max="100" 
                    step="10" 
                    x-model="sizeZ">
            </div>
        
            <div class="button-options">
                <div>Partition X</div>
                <input 
                    type="range" 
                    min="1" 
                    max="10" 
                    step="1" 
                    x-model="partitionX">
            </div>
        
            <div class="button-options">
                <div>Partition Y</div>
                <input 
                    type="range" 
                    min="1" 
                    max="10" 
                    step="1" 
                    x-model="partitionY">
            </div>
        
            <div class="button-options">
                <div>Partition Z</div>
                <input 
                    type="range" 
                    min="1" 
                    max="10" 
                    step="1" 
                    x-model="partitionZ">
            </div>
          </div>
        </div>
        <div class="w-full h-[64px] bg-primary flex items-center justify-center"> <!--inferior buttons-->
          <div class="w-full h-full flex items-center justify-around pointer-events-auto">
            <button @click="open = !open" class="button-menu w-[25%]">VISUAL</button>
            <button @click="open = !open" class="button-menu w-[25%]">DOMAIN</button>
            <button @click="open = !open" class="button-menu w-[25%]">CAMERA</button>
            <button @click="open = !open" class="button-menu w-[25%]">CONFIG</button>
          </div>
        </div>
      </div>
    </div>
    <canvas id="canvas"></canvas>
  </body>
</html>