@tailwind base;
@tailwind components;
@tailwind utilities;

#three-canvas {
  display: block;
  margin: 0 auto;
}

[data-theme='custom_light']
{
  --primary: 250, 250, 250;
  --primary_highlight: 255, 255, 255;
  --primary_text: 90, 90, 90;
  --primary_highlight_text: 30, 30, 30;
}

[data-theme='custom_dark']
{
    --primary: 40, 40, 40;
    --primary_highlight: 30, 30, 30;
    --primary_text: 255, 255, 255;
    --primary_highlight_text: 250, 250, 250;
}