{% extends "sections/base-section.html"%}

{% block title %}
    domain
{% endblock %}

{% block data %}
    <div id="domain-size" x-data="{open: true}" class="w-full flex flex-col">
        {% include "common/fields/dropdown.html" with label="Coordinates" %}
        <div x-show="open" class="w-full flex flex-col items-start justify-start my-[8px] space-y-[4px]">
            {% include "common/fields/input_coordinates.html" with label="min" first_label="x" first_value=simulation.domain_min_x second_label="y" second_value=simulation.domain_min_y third_label="z" third_value=simulation.domain_min_z %}
            {% include "common/fields/input_coordinates.html" with label="max" first_label="x" first_value=simulation.domain_max_x second_label="y" second_value=simulation.domain_max_y third_label="z" third_value=simulation.domain_max_z %}
            {% include "common/fields/submit.html"%}
        </div>
        {% include "common/separators/horizontal_line.html" %}
    </div>
    
    <div id="domain-divisions" x-data="{open: true}" class="w-full flex flex-col">
        {% include "common/fields/dropdown.html" with label="Divisions" %}
        <div x-show="open" class="w-full flex flex-col items-start justify-start my-[8px] space-y-[4px]">
            {% include "common/fields/input_coordinates.html" with label="amount" first_label="w" first_value=simulation.divisions_x second_label="h" second_value=simulation.divisions_y third_label="d" third_value=simulation.divisions_z %}
            {% include "common/fields/submit.html"%}
        </div>
        {% include "common/separators/horizontal_line.html" %}
    </div>

    <div id="domain-spawn" x-data="{open: true}" class="w-full flex flex-col">
        {% include "common/fields/dropdown.html" with label="Spawn area" %}
        <div x-show="open" class="w-full flex flex-col items-start justify-start my-[8px] space-y-[4px]">
            {% include "common/fields/input_coordinates.html" with label="min" first_label="x" first_value=simulation.spawn_min_x second_label="y" second_value=simulation.spawn_min_y third_label="z" third_value=simulation.spawn_min_z %}
            {% include "common/fields/input_coordinates.html" with label="max" first_label="x" first_value=simulation.spawn_max_x second_label="y" second_value=simulation.spawn_max_y third_label="z" third_value=simulation.spawn_max_z %}
            {% include "common/fields/submit.html"%}
        </div>
        {% include "common/separators/horizontal_line.html" %}
    </div>
{% endblock %}