{% extends "groups/base-section.html" %}

{% block data %}
<div id="domain-size" x-data="{open: true}" class="w-full flex flex-col">
    {% include "common/fields/dropdown.html" with label="Coordinates" %}
    <div x-show="open" class="w-full flex flex-col items-start justify-start my-[8px] space-y-[4px]">
        {% include "common/fields/input_coordinates.html" with label="minimum" first_label="x" second_label="y" third_label="z" %}
        {% include "common/fields/input_coordinates.html" with label="maximum" first_label="x" second_label="y" third_label="z" %}
        {% include "common/fields/submit.html"%}
    </div>
    {% include "common/separators/horizontal_line.html" %}
</div>

<div id="domain-partitions" x-data="{open: true}" class="w-full flex flex-col">
    {% include "common/fields/dropdown.html" with label="Partitions" %}
    <div x-show="open" class="w-full flex flex-col items-start justify-start my-[8px] space-y-[4px]">
        {% include "common/fields/input_coordinates.html" with label="amount" first_label="w" second_label="h" third_label="d" %}
        {% include "common/fields/submit.html"%}
    </div>
    {% include "common/separators/horizontal_line.html" %}
</div>
{% endblock %}