<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body { margin: 0; }
    </style>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../src/styles.css" />
    <script defer src="../../static/bundle.js"></script>
    <title>Boids</title>
  </head>
  <body>
    <div id="screen" class="fixed w-screen h-screen z-10 flex flex-col items-center justify-center pointer-events-none">
      <div id="superior" class="w-full h-[64px] bg-primary p-[8px] pointer-events-auto">
        <div class="w-full h-full"></div>
      </div>
      <div id="middle" class="w-full grow flex justify-start pointer-events-none">
        <div id="middle-left" class="w-[384px] h-full p-[8px] pointer-events-auto">
          <div x-data="{open: false}" class="w-full h-full flex justify-start drop-shadow-custom-shadow-2">
            <div class="w-[48px] h-full bg-primary flex flex-col items-center justify-start drop-shadow-custom-shadow-1">
              {% include "templates/left_buttons.html" %}
            </div>
            <div id="left-menu" x-show="open" class="w-full h-full bg-primary p-[16px]">
              {% include "groups/simulations.html" %}
            </div>
          </div>
        </div>
        <div id="middle-center" class="h-full grow flex flex-col justify-between p-[8px] pointer-events-none">
          <div id="middle-center-superior" class="w-full h-[32px] drop-shadow-custom-shadow-2 flex items-center justify-center">
            {% include "templates/events.html" %}
          </div>
          <div id="middle-center-middle" class="w-full grow"></div>
          <div id="middle-center-inferior" class="w-full flex items-center justify-center drop-shadow-custom-shadow-2 pointer-events-auto">
            {% include "templates/run_controls.html" %}
          </div>
        </div>
        <div id="middle-right" class="w-[384px] h-full p-[8px] pointer-events-auto">
          <div x-data="{open: false}" class="w-full h-full flex justify-end drop-shadow-custom-shadow-2">
            <div id="right-menu" x-show="open" class="w-full h-full bg-primary p-[16px]">
            </div>
            <div class="w-[48px] h-full bg-primary flex flex-col items-center justify-start drop-shadow-custom-shadow-1">
              {% include "templates/right_buttons.html" %}
            </div>
          </div>
        </div>
      </div>
      <div id="inferior" class="w-full h-[64px] bg-primary p-[8px] pointer-events-auto">
        <div class="w-full h-full"></div>
      </div>
    </div>
    <canvas id="canvas" class="fixed z-0"></canvas>
  </body>
</html>