<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body { margin: 0; }
    </style>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../src/styles.css" />
    <script defer src="../../static/bundle.js"></script>
    <title>Boids</title>
  </head>
  <body>
    <div id="screen" class="fixed w-screen h-screen z-10 flex flex-col items-center justify-center pointer-events-none">
      <div id="superior" class="w-full h-[64px] bg-primary p-[8px] pointer-events-auto">
        <div class="w-full h-full"></div>
      </div>
      <div id="middle" class="w-full grow flex justify-start pointer-events-auto">
        <div id="middle-left" class="w-[256px] h-full p-[8px]">
          <div x-data="{open: false}" class="w-full h-full flex justify-between drop-shadow-custom-shadow-2">
            <div class="w-[48px] h-full bg-secondary flex flex-col items-center justify-start space-y-[8px]">
              <button @click="open = !open" class="button-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"/>
                </svg>
              </button>
              {% include "templates/general_controls.html" %}
            </div>
            <div x-show="open" class="h-full grow bg-primary"></div>
          </div>
        </div>
        <div id="middle-center" class="h-full grow flex flex-col justify-between p-[8px]">
          <div id="middle-center-superior" class="w-full h-[32px] drop-shadow-custom-shadow-2 flex items-center justify-center">
            {% include "templates/events.html" %}
          </div>
          <div id="middle-center-middle" class="w-full grow"></div>
          <div id="middle-center-inferior" class="w-full h-[32px] flex items-center justify-center drop-shadow-custom-shadow-2">
            {% include "templates/run_controls.html" %}
          </div>
        </div>
        <div id="middle-right" class="w-[256px] h-full p-[8px]">
          <div x-data="{open: false}" class="w-full h-full flex justify-end drop-shadow-custom-shadow-2">
            <div x-show="open" class="h-full grow bg-primary"></div>
            <div class="w-[48px] h-full bg-secondary flex flex-col items-center justify-start space-y-[8px]">
              <button @click="open = !open" class="button-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"/>
                </svg>
              </button>
              {% include "templates/general_controls.html" %}
            </div>
          </div>
        </div>
      </div>
      <div id="inferior" class="w-full h-[64px] bg-primary p-[8px] pointer-events-auto">
        <div class="w-full h-full"></div>
      </div>
    </div>
    <canvas id="canvas" class="fixed z-0"></canvas>
  </body>
</html>