<div class="flex items-center justify-center gap-[32px] opacity-70">
    <div id="mouse0" class="h-full flex items-center justify-center gap-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/3645/3645851.png" alt="Left Click Icon" class="w-[20px] h-[20px]">
        <div class="flex items-center justify-center align-center text-center">pan</div>
    </div>
    <div id="mouse1" class="h-full flex items-center justify-center gap-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/3645/3645819.png" alt="Left Click Icon" class="w-[20px] h-[20px]">
        <div class="flex items-center justify-center align-center text-center">rotate</div>
    </div>
    <div id="mouse2" class="h-full flex items-center justify-center gap-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/3646/3646205.png" alt="Left Click Icon" class="w-[20px] h-[20px]">
        <div class="flex items-center justify-center align-center text-center">zoom</div>
    </div>
</div>
<div class="flex items-center justify-center gap-[16px] opacity-70">
    <div id="w" class="h-full flex items-center justify-center gap-[8px]">
        <div class="flex items-center justify-center align-center text-center">forward</div>
        <img src="https://cdn-icons-png.flaticon.com/512/9542/9542499.png" alt="Left Click Icon" class="w-[16px] h-[16px]">
    </div>
    <div id="a" class="h-full flex items-center justify-center gap-[8px]">
        <div class="flex items-center justify-center align-center text-center">leftward</div>
        <img src="https://cdn-icons-png.flaticon.com/512/9542/9542365.png" alt="Left Click Icon" class="w-[16px] h-[16px]">
    </div>
    <div id="s" class="h-full flex items-center justify-center gap-[8px]">
        <div class="flex items-center justify-center align-center text-center">backward</div>
        <img src="https://cdn-icons-png.flaticon.com/512/9542/9542478.png" alt="Left Click Icon" class="w-[16px] h-[16px]">
    </div>
    <div id="d" class="h-full flex items-center justify-center gap-[8px]">
        <div class="flex items-center justify-center align-center text-center">rightward</div>
        <img src="https://cdn-icons-png.flaticon.com/512/9542/9542385.png" alt="Left Click Icon" class="w-[16px] h-[16px]">
    </div>
    <div id="q" class="h-full flex items-center justify-center gap-[8px]">
        <div class="flex items-center justify-center align-center text-center">downward</div>
        <img src="https://cdn-icons-png.flaticon.com/512/9542/9542469.png" alt="Left Click Icon" class="w-[16px] h-[16px]">
    </div>
    <div id="e" class="h-full flex items-center justify-center gap-[8px]">
        <div class="flex items-center justify-center align-center text-center">upward</div>
        <img src="https://cdn-icons-png.flaticon.com/512/9542/9542393.png" alt="Left Click Icon" class="w-[16px] h-[16px]">
    </div>
</div>