<body>
    <button @click="sceneManager.CameraController.FrontView()" id="front-button" class="flex-none button-icon uppercase text-[10px] p-[12px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136808.png" alt="Left Click Icon" class="w-full h-full">
    </button>
    <button @click="sceneManager.CameraController.BackView()" id="back-button" class="relative flex-none button-icon uppercase text-[10px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136808.png" alt="Left Click Icon" class="absolute top-0 left-0 w-full h-full p-[12px] opacity-50">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="absolute top-0 left-0 w-full h-full p-[12px] opacity-50">
    </button>
    <button @click="sceneManager.CameraController.RightView()" id="right-button" class="flex-none button-icon uppercase text-[10px] p-[12px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136806.png" alt="Left Click Icon" class="w-full h-full">
    </button>
    <button @click="sceneManager.CameraController.LeftView()" id="left-button" class="relative flex-none button-icon uppercase text-[10px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136806.png" alt="Left Click Icon" class="absolute top-0 left-0 w-full h-full p-[12px] opacity-50">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="absolute top-0 left-0 w-full h-full p-[12px] opacity-50">
    </button>
    <button @click="sceneManager.CameraController.TopView()" id="top-button" class="flex-none button-icon uppercase text-[10px] p-[12px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136809.png" alt="Left Click Icon" class="w-full h-full">
    </button>
    <button @click="sceneManager.CameraController.BotView()" id="bot-button" class="relative flex-none button-icon uppercase text-[10px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136809.png" alt="Left Click Icon" class="absolute top-0 left-0 w-full h-full p-[12px] opacity-50">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="absolute top-0 left-0 w-full h-full p-[12px] opacity-50">
    </button>
    <button @click="sceneManager.CameraController.IsometricView()" id="iso-button" class="flex-none button-icon uppercase text-[10px] p-[12px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136784.png" alt="Left Click Icon" class="w-full h-full">
    </button>
</body>