<body>
    <button @click="sceneManager.CameraController.FrontView()" id="front-button" class="button-icon">
        front
    </button>
    <button @click="sceneManager.CameraController.BackView()" id="back-button" class="button-icon">
        back
    </button>
    <button @click="sceneManager.CameraController.RightView()" id="right-button" class="button-icon">
        right
    </button>
    <button @click="sceneManager.CameraController.LeftView()" id="left-button" class="button-icon">
        left
    </button>
    <button @click="sceneManager.CameraController.TopView()" id="top-button" class="button-icon">
        top
    </button>
    <button @click="sceneManager.CameraController.BotView()" id="bot-button" class="button-icon">
        bot
    </button>
    <button @click="sceneManager.CameraController.IsometricView()" id="iso-button" class="button-icon">
        iso
    </button>
</body>