<div class="flex-none max-h-full flex flex-col items-center justify-start">
    <div id="menu-title-assets" class="text-title-1 w-full my-[4px] flex items-center justify-center text-center align-middle">assets</div>
    <div class="w-full h-[16px] flex flex-col items-center justify-center">
        <div class="w-full h-[2px] bg-gray-300"></div>
    </div>
    <div class="text-title-2 w-full my-[4px] flex items-center justify-center text-center align-middle">primitives</div>
    <div class="w-full h-full max-h-[360px] grid grid-cols-2 p-[16px] gap-[8px] rounded-[4px] outline outline-[1px] outline-black/20 overflow-y-scroll overflow-x-clip no-scrollbar">
        <div src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">cube</div>
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
    </div>
    <div class="text-title-2 w-full my-[4px] flex items-center justify-center text-center align-middle">polyhedrons</div>
    <div class="w-full h-full max-h-[240px] grid grid-cols-2 p-[16px] gap-[8px] rounded-[4px] outline outline-[1px] outline-black/20 overflow-y-scroll overflow-x-clip no-scrollbar">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
        <img src="https://cdn-icons-png.flaticon.com/512/136/136795.png" alt="Left Click Icon" class="w-full aspect-square p-[16px] opacity-highlight outline outline-[1px] outline-black/50 rounded-[4px]">
    </div>
</div>