<div class="flex-none max-h-full flex flex-col items-center justify-start space-y-[16px]">
    <div id="boids" class="w-full">
        <div class="text-title-1 w-full flex items-center justify-start text-center align-middle">boids</div>
        <div class="text-content-1 w-full flex items-center justify-start mb-[8px]">
            <p>The boids.</p>
        </div>
        <div class="h-full w-full flex items-center justify-start space-x-[4px]">
            <div class="h-full w-[160px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">avoidance:</div>
            <input @click="UIBoidsHandler.ToggleAvoidance()" type="checkbox" checked>
        </div>
        <div class="h-full w-full flex items-center justify-start space-x-[4px]">
            <div class="h-full w-[160px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">alignment:</div>
            <input @click="UIBoidsHandler.ToggleAlignment()" type="checkbox" checked>
        </div>
        <div class="h-full w-full flex items-center justify-start space-x-[4px]">
            <div class="h-full w-[160px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">cohesion:</div>
            <input @click="UIBoidsHandler.ToggleCohesion()" type="checkbox" checked>
        </div>
        <div class="h-full w-full flex items-center justify-start space-x-[4px]">
            <div class="h-full w-[160px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">death:</div>
            <input @click="UIBoidsHandler.ToggleDeath()" type="checkbox" checked>
        </div>
        <div x-data="{value: UIBoidsHandler.GetViewDistance()}" class="h-full w-full flex items-center justify-between space-x-[4px]">
            <div class="h-full w-[160px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">view distance:</div>
            <input type="range" min="0" max="1000" step="1" x-model="value" @input="UIBoidsHandler.SetViewDistance(parseInt(value))" class="h-full w-full bg-white text-primary_text text-center border-[1px] border-black/20">
            <div x-text="value" class="h-full w-[32px] text-primary_text flex-none flex items-center justify-end overflow-hidden whitespace-nowrap"></div>
        </div>
        <div x-data="{value: UIBoidsHandler.GetSpeed()}" class="h-full w-full flex items-center justify-between space-x-[4px]">
            <div class="h-full w-[160px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">speed:</div>
            <input type="range" min="0" max="10" step="0.01" x-model="value" @input="UIBoidsHandler.SetSpeed(parseFloat(value))" class="h-full w-full bg-white text-primary_text text-center border-[1px] border-black/20">
            <div x-text="value" class="h-full w-[32px] text-primary_text flex-none flex items-center justify-end overflow-hidden whitespace-nowrap"></div>
        </div>
        <div x-data="{value: UIBoidsHandler.GetRotationSpeed()}" class="h-full w-full flex items-center justify-between space-x-[4px]">
            <div class="h-full w-[160px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">rotation speed:</div>
            <input type="range" min="0" max="1" step="0.01" x-model="value" @input="UIBoidsHandler.SetRotationSpeed(parseFloat(value))" class="h-full w-full bg-white text-primary_text text-center border-[1px] border-black/20">
            <div x-text="value" class="h-full w-[32px] text-primary_text flex-none flex items-center justify-end overflow-hidden whitespace-nowrap"></div>
        </div>
        <div x-data="{value: UIBoidsHandler.GetSeparationDistance()}" class="h-full w-full flex items-center justify-between space-x-[4px]">
            <div class="h-full w-[160px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">separation distance:</div>
            <input type="range" min="0" max="100" step="1" x-model="value" @input="UIBoidsHandler.SetSeparationDistance(parseFloat(value))" class="h-full w-full bg-white text-primary_text text-center border-[1px] border-black/20">
            <div x-text="value" class="h-full w-[32px] text-primary_text flex-none flex items-center justify-end overflow-hidden whitespace-nowrap"></div>
        </div>
        <div x-data="{value: UIBoidsHandler.GetAlignmentRadius()}" class="h-full w-full flex items-center justify-between space-x-[4px]">
            <div class="h-full w-[160px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">alignment radius:</div>
            <input type="range" min="0" max="100" step="1" x-model="value" @input="UIBoidsHandler.SetAlignmentRadius(parseFloat(value))" class="h-full w-full bg-white text-primary_text text-center border-[1px] border-black/20">
            <div x-text="value" class="h-full w-[32px] text-primary_text flex-none flex items-center justify-end overflow-hidden whitespace-nowrap"></div>
        </div>
        <div x-data="{value: UIBoidsHandler.GetCohesionRadius()}" class="h-full w-full flex items-center justify-between space-x-[4px]">
            <div class="h-full w-[160px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">cohesion radius:</div>
            <input type="range" min="0" max="100" step="1" x-model="value" @input="UIBoidsHandler.SetCohesionRadius(parseFloat(value))" class="h-full w-full bg-white text-primary_text text-center border-[1px] border-black/20">
            <div x-text="value" class="h-full w-[32px] text-primary_text flex-none flex items-center justify-end overflow-hidden whitespace-nowrap"></div>
        </div>
    </div>
    <div class="w-full h-[1px] bg-black/20"></div>
</div>