<div class="flex-none max-h-full flex flex-col items-center justify-start">
    <div id="menu-title-assets" class="text-title-1 w-full flex items-center justify-start text-center align-middle ">domain</div>
    <div class="text-content-1 w-full flex items-center justify-start">
        <p>the domain is used to defines where creatures can go</p>
    </div>

    <div id="domain-limits" class="w-full flex flex-col">
        <div x-data="{ limits: UIDomainHandler.GetLimits() }" class="w-full flex flex-col items-start justify-start my-[8px] space-y-[8px]">
            <!-- MININUM -->
            <div x-data="{ minX: limits.min[0], minY: limits.min[1], minZ: limits.min[2], maxX: limits.max[0], maxY: limits.max[1], maxZ: limits.max[2] }" class="w-full h-[24px] flex items-center justify-between gap-[4px]">
                <div class="h-full w-[96px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">minimum:</div>
                <div class="h-full w-full flex items-center justify-between">
                    <div class="h-full w-[20px] text-primary_text flex items-center justify-center uppercase">x</div>
                    <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="minX" @input="UIDomainHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-full bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                </div>
                <div class="h-full w-full flex items-center justify-between">
                    <div class="h-full w-[20px] text-primary_text flex items-center justify-center uppercase">y</div>
                    <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="minY" @input="UIDomainHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-full bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                </div>
                <div class="h-full w-full flex items-center justify-between">
                    <div class="h-full w-[20px] text-primary_text flex items-center justify-center uppercase">z</div>
                    <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="minZ" @input="UIDomainHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-full bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                </div>
            </div>
            <!-- END MININUM -->
            <!-- MAXIMUM -->
            <div x-data="{ minX: limits.min[0], minY: limits.min[1], minZ: limits.min[2], maxX: limits.max[0], maxY: limits.max[1], maxZ: limits.max[2] }" class="w-full h-[24px] flex items-center justify-between gap-[4px]">
                <div class="h-full w-[96px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">minimum:</div>
                <div class="h-full w-full flex items-center justify-between">
                    <div class="h-full w-[20px] text-primary_text flex items-center justify-center uppercase">x</div>
                    <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="maxX" @input="UIDomainHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-full bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                </div>
                <div class="h-full w-full flex items-center justify-between">
                    <div class="h-full w-[20px] text-primary_text flex items-center justify-center uppercase">y</div>
                    <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="maxY" @input="UIDomainHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-full bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                </div>
                <div class="h-full w-full flex items-center justify-between">
                    <div class="h-full w-[20px] text-primary_text flex items-center justify-center uppercase">z</div>
                    <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="minZ" @input="UIDomainHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-full bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                </div>
            </div>
            <!-- END MAXIMUM -->
        </div>
    </div>
    
    <div id="domain-divisions" class="w-full flex flex-col">
        <div x-data="{ divisions: UIDomainHandler.GetDivisions() }" class="w-full flex flex-col items-start justify-start my-[8px] space-y-[8px]">
            <!-- DIVISIONS -->
            <div x-data="{ x: divisions.x, y: divisions.y, z: divisions.z }" class="w-full h-[24px] flex items-center justify-between gap-[4px]">
                <div class="h-full w-[96px] text-primary_text flex-none flex items-center justify-start overflow-hidden whitespace-nowrap">divisions:</div>
                <div class="h-full w-full flex items-center justify-between">
                    <div class="h-full w-[20px] text-primary_text flex items-center justify-center uppercase">x</div>
                    <input type="number" min="1" max="99" step="1" placeholder="..." x-model="x" @input="UIDomainHandler.SetDivisions(x, y, z)" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                </div>
                <div class="h-full w-full flex items-center justify-between">
                    <div class="h-full w-[20px] text-primary_text flex items-center justify-center uppercase">y</div>
                    <input type="number" min="1" max="99" step="1" placeholder="..." x-model="y" @input="UIDomainHandler.SetDivisions(x, y, z)" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                </div>
                <div class="h-full w-full flex items-center justify-between">
                    <div class="h-full w-[20px] text-primary_text flex items-center justify-center uppercase">z</div>
                    <input type="number" min="1" max="99" step="1" placeholder="..." x-model="z" @input="UIDomainHandler.SetDivisions(x, y, z)" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                </div>
            </div>
            <!-- END DIVISIONS -->
        </div>
    </div>
    <button @click="UIDomainHandler.ToggleVisibility()">VISIBLE</button>

    <div id="menu-title-assets" class="text-title-1 w-full my-[4px] flex items-center justify-center text-center align-middle ">spawner</div>
    <div class="w-full h-[16px] flex flex-col items-center justify-center">
        
    </div>

    <div id="domain-limits" x-data="{open: true}" class="w-full flex flex-col">
        <div x-show="open" x-data="{ limits: UISpawnerHandler.GetLimits() }" class="w-full flex flex-col items-start justify-start my-[8px] space-y-[4px]">

            <div x-data="{ minX: limits.min[0], minY: limits.min[1], minZ: limits.min[2], maxX: limits.max[0], maxY: limits.max[1], maxZ: limits.max[2] }" class="h-[24px] w-full flex flex-col items-center justify-start">
                <div class="h-[24px] w-full flex items-center justify-between">
                    <div class="h-full w-[64px] text-primary_text flex items-center justify-start">minimum</div>
                    <div class="h-full w-[calc(100%-64px)] flex items-center justify-between">
                        <div class="h-full w-[33%] flex items-center justify-between">
                            <div class="h-full w-[24px] text-primary_text flex items-center justify-center">x</div>
                            <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="minX" @input="UISpawnerHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                        </div>
                        <div class="h-full w-[33%] flex items-center justify-between">
                            <div class="h-full w-[24px] text-primary_text flex items-center justify-center">y</div>
                            <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="minY" @input="UISpawnerHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                        </div>
                        <div class="h-full w-[33%] flex items-center justify-between">
                            <div class="h-full w-[24px] text-primary_text flex items-center justify-center">z</div>
                            <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="minZ" @input="UISpawnerHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                        </div>
                    </div>
                </div>
                <div class="h-[24px] w-full flex items-center justify-between">
                    <div class="h-full w-[64px] text-primary_text flex items-center justify-start">maximum</div>
                    <div class="h-full w-[calc(100%-64px)] flex items-center justify-between">
                        <div class="h-full w-[33%] flex items-center justify-between">
                            <div class="h-full w-[24px] text-primary_text flex items-center justify-center">x</div>
                            <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="maxX" @input="UISpawnerHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                        </div>
                        <div class="h-full w-[33%] flex items-center justify-between">
                            <div class="h-full w-[24px] text-primary_text flex items-center justify-center">y</div>
                            <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="maxY" @input="UISpawnerHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                        </div>
                        <div class="h-full w-[33%] flex items-center justify-between">
                            <div class="h-full w-[24px] text-primary_text flex items-center justify-center">z</div>
                            <input type="number" min="-1000" max="1000" step="1" placeholder="..." x-model="maxZ" @input="UISpawnerHandler.SetLimits(parseFloat(minX), parseFloat(minY), parseFloat(minZ), parseFloat(maxX), parseFloat(maxY), parseFloat(maxZ))" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text text-center border-[1px] border-black/20">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-[16px] flex flex-col items-center justify-center">
            
        </div>
        <button @click="UISpawnerHandler.ToggleVisibility()">VISIBLE</button>
    </div>

    <div x-data="boundingBox({ 
        name: 'Cubo Azul', 
        onUpdate: (data) => atualizarThreeJS(data) 
    })"></div>
</div>