<div x-data="{ label: '{{ label|default:"unnamed" }}', text: '{{ text|default:"" }}', value: '{{ value|default:"" }}' }" 
     x-init="$dispatch('input-init', {})" 
     class="h-[24px] w-full flex items-center justify-between">
    <div class="h-full w-[192px] text-primary_text flex items-center justify-start" x-text="label"></div>
    <input type="number" name="text" placeholder="..." x-model="value" class="h-full w-[calc(100%-192px)] bg-primary_highlight text-primary_text flex items-center text-center justify-between border-[1px] border-black/20"/>
</div>