<div x-data="{  label: '{{ label|default:"unnamed" }}',
                first_label: '{{ first_label|default:"" }}', first_text: '{{ first_text|default:"" }}', first_value: '{{ first_value|default:"" }}',
                second_label: '{{ second_label|default:"" }}', second_text: '{{ second_text|default:"" }}', second_value: '{{ second_value|default:"" }}',
                third_label: '{{ third_label|default:"" }}', third_text: '{{ third_text|default:"" }}', third_value: '{{ third_value|default:"" }}', }"
     x-init="$dispatch('input-init', {label, name})"
     class="h-[24px] w-full flex items-center justify-between">
    <div x-text="label" class="h-full w-[96px] text-primary_text flex items-center justify-start"></div>
    <div class="h-full w-[calc(100%-96px)] flex items-center justify-between">
        <div class="h-full w-[33%] flex items-center justify-between">
            <div x-text="first_label" class="h-full w-[24px] text-primary_text flex items-center justify-center"></div>
            <input type="number" placeholder="X" name="first_text" x-model="first_value" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text border-[1px] border-black/20" type="number"></input>
        </div>
        <div class="h-full w-[33%] flex items-center justify-between">
            <div x-text="second_label" class="h-full w-[24px] text-primary_text flex items-center justify-center"></div>
            <input type="number" placeholder="Y" name="second_text" x-model="second_value" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text border-[1px] border-black/20" type="number"></input>
        </div>      
        <div class="h-full w-[33%] flex items-center justify-between">
            <div x-text="third_label" class="h-full w-[24px] text-primary_text flex items-center justify-center"></div>
            <input type="number" placeholder="Z" name="third_text" x-model="third_value" class="h-full w-[calc(100%-24px)] bg-primary_highlight text-primary_text border-[1px] border-black/20" type="number"></input>
        </div>
    </div>
</div>